{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}


{% block content %}
	<div id="shortInstructions">
		<div id="shortInstructText">
			<p>
				<h3><strong><u>Part 1: Virtual Lottery Game</u></strong></h3>
			</p>
			<p>
				You will now take part in the Virtual Lottery Game. In this game you will be presented with tables—known as <b>Play Panels</b>—like the one shown below.
			</p>
			<p>
				<img src="{% static "Lottery/play_panel.png" %}"/>
			</p>
			<p>
				Each Play Panel contains several games—14 games in the Play Panel above. 
				For each game, there are two Options: <b>Option A</b> and <b>Option B</b>. 
				Each Option is associated with a chance of winning one of two monetary amounts.
			</p>
			<p>
				For example, in the above Play Panel, Option A is always associated with a 30% chance of winning $20 and a 70% chance of winning $5 (this is true for all 14 games). 
				However, for Option B, there is a 10% chance of winning a relatively large amount of money and a 90% chance of winning a relatively small amount of money. 
				The larger amount with a 10% chance varies in size across games, whereas the smaller amount with a 90% chance remains the same (it is always $2.5).
				For example, in Game 1 there is a 10% chance of winning $34 and a 90% chance of winning $2.5;
				in Game 2 there is a 10% chance of winning $38 and a 90% chance of winning $2.5;
				in Game 3 there is a 10% chance of winning $42 and a 90% chance of winning $2.5 and so on.
			</p>
			<p>
				Your task is to choose your preferred option in each game. 
				The default choice is Option A. 
				However, if you find the odds in Option B more appealing for any given game, you can switch to Option B by clicking on the corresponding radio button for that Option.
				<b><i>However, once you have switched to Option B, you cannot switch back to Option A for the rest of the Play Panel.</b></i>
				To illustrate, in the Play Panel shown above, the participant has decided in Game 5 that the odds in Option B are more appealing than in Option A. 
				Accordingly, Option B has now been selected as the preferred option for the rest of the games in the Play Panel. 
			</p>
			<p>
				You will be given three Play Panels (i.e., tables), one Play Panel at a time. 
				The first Play Panel contains 14 games (numbered 1-14), the second Play Panel also contains 14 games (numbered 15-28), 
				whilst the third Play Panel contains 7 games (numbered 29-35).
			</p>
				<b><i>Note that in the third and final Play Panel, the monetary amounts on offer in the two Options can assume negative values.</b></i>
				For example, if an Option in a game specified a 10% chance of $30 and a 90% chance of -$16, this means a 90% chance of “winning” $30 and 
				a 10% chance of “losing” $16 that you already have in your possession.
			</p>
			<p>
				<strong><u>How the Game works</strong></u>
			</p>
			<p>
				Once you have registered your preferences in the three play panels, thirty-five balls (numbered 1-35) will be put into a virtual bingo cage by the computer,
				and one ball will be randomly picked. This numbered ball will correspond to the Game Number in one of your Play Panels and determines which out of the 35 games 
				will be played.
			</p>
			<p>
				All balls are then removed from the bingo cage and ten balls (numbered 1-10) are put back in. 
				The next ball that is randomly picked by the computer determines how much money you win (or lose).
			</p>
			<p>
				For example, in the earlier Play Panel if Game Number 7 was randomly selected out of the 35 games, 
				and you chose Option A for that game, you would win: 
			</p>
			<p>
				•	$20 if the ball number is between 1 and 3 (30% chance), or<br> 
				•	$5 if the ball number is between 4 and 10 (70% chance). 
			</p>
			<p>
				If you chose Option B, you would win:
			</p>
			<p>
				•	$75 if the ball number is 1 (10% chance), or <br>
				•	$2.5 if the ball number is between 2 and 10 (90% chance).
			</p>
		</div>
	</div>

{% endblock %}
{% block styles %}
<style type="text/css">
	#shortInstructions
	{
		margin-bottom: 1em;
		background: lightgrey;
		border: solid black 2px;
		height: 70%;
		overflow: hidden;
		width: 100%;
	}
	#shortInstructText
	{
		font-size: 1.5em;
		margin-bottom: 1em;
		margin: 2% 5% 2% 5%;
	}
	#shortInstructText img
	{
		width: 100%;
		height: auto;
		border: 2px solid #000000;
	}
</style>
{% endblock %}