{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}


{% block content %}
	<div id="shortInstructions">
		<div id="shortInstructText">
			<p>
				<h3><strong>How the game works</strong></h3>
				Thirty-five balls (numbered 1-35) will be put into a virtual bingo cage and one ball will be randomly picked. This numbered ball will correspond to the GAME NUMBER in one of your PLAY PANELS and determines which out of the 35 games will be played.<br>
				<br>
				All balls are then removed from the bingo cage and ten balls (numbered 1-10) are put back in. The next ball that is picked determines how much money you win (or lose).<br>
				<br>
				For example, if GAME NUMBER 7 was randomly selected out of the 35 games, and you chose Prize A for that game, you will win<br>
				<br>
				- $40 if the ball number is between 1 and 3, or<br>
				- $10 if the ball number is between 4 and 10.<br>
				<br>
				If you chose Prize B, you will win<br>
				- $150 if the ball number is 1, or<br>
				- $5 if the ball number is between 2 and 10.<br>
				<br>
			</p>
		</div>
	</div>

{% endblock %}
{% block styles %}
<style type="text/css">
	#shortInstructions
	{
		margin-bottom: 1em;
		background: lightgrey;
		border: solid black 2px;
		height: 70%;
		overflow: hidden;
		width: 100%;
	}
	#shortInstructText
	{
		font-size: 1.5em;
		margin-bottom: 1em;
		margin: 2% 5% 2% 5%;
	}
</style>
{% endblock %}