{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
   Virtual Lottery Game Control Questions
{% endblock %}

{% block content %}

	<div id="pagehead">
		<img src="{% static "Lottery/uwalogo.png" %}"/>
		<div class="title">Virtual Lottery Game Control Questions </div>
	</div>
	<p>
		<i><b>The Instructions are below for your convenience, please read them again if you need clarification on how the game works before asking questions.</b></i>
	</p>
	{% for field in form %}
    	{% formfield field %}
	{% endfor %}
    {% next_button %}
    
    {% include Constants.lottery_instructions_template %}

{% endblock %}

{% block scripts %}
<style type="text/css">
	.otree-title
	{
		display: none;
	}
	#pagehead
	{
		display:inline-block;
		float:left;
		width:100%;
		background:#27348b;
		margin:0 0 0 0;
		padding:0.75em;
		overflow:hidden;
		margin-bottom: 1em;
	}
	#pagehead img
	{
		height:3.8em;
	}
	#pagehead .title
	{
		display:inline-block;
		float:right;
		font-size:2em;
		color:#ffffff;
	}
	
</style>
{% endblock %}