{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}Virtual Lottery Game Instructions{% endblock %}

{% block content %}

	<div id="pagehead">
		<img src="{% static "Lottery/uwalogo.png" %}"/>
		<div class="title">Virtual Lottery Game Instructions</div>
	</div>
	<div id="instructions">
		<div id="instructText">
			<p>
				<h3><b>Please Refer to the Printed Sheet Given to you</b></h3>
			</p>
			<p>
				<h3><strong><u>Part 1: Virtual Lottery Game</u></strong></h3>
				<p>Imagine you are taking part in a virtual lottery game where you have a choice between playing for the money amounts in options A or B.</p>
				The following PLAY PANELS contain the odds of each option for each game. The default choice is option A for each game.
				If you find the odds in option B more appealing at any given game, you can switch to option B.
				However, once you’ve switched to option B, you cannot go back to option A for the rest of the PLAY PANEL.
			</p>
			<p>
				<strong><u><h3>How the Game works</u></strong></h3>
				There are a total of 35 Games, 3 Play Panels and two options, A or B.
			</p>
			<p>
				In order to determine what prize what shall receive from the Lottery Game, the game randomly chooses one PLAY PANEL of the possible three.
				The number of the PLAY PANEL will be shown at the top of the page under the heading "Virtual Lottery Game Panel X of 3", X being the PLAY PANEL number. 
			</p>
			<p>
				After randomly choosing a PLAY PANEL, from this PLAY PANEL it will randomly choose <b>one</b> of the games inside that PLAY PANEL. This will be your <b>paying game</b>.
				The Game Number is shown the left hand side of each panel. 
			</p>
			<p>
				For each game you will have an option of A or B. A number will be chosen between 1 and 10 (including 1 and 10), 
				it is this number that will determine your prize based on the option you chose.
			</p>
			<p>
				The Chance of you winning the said prize for each option (A or B) is displayed the right hand side of each option given in terms of probability.
			</p>
			<p>
				For example, Look at the image below:
			</p>
				<img height="150" width="800" src="{% static "Lottery/lottery.jpg" %}"/>
			</p>
			<p>
				In this scenario a PLAY PANEL was chosen with Games 1 to 3.<br>
				The Game Number that was randomly chosen as the paying game was <b>2</b>.
			</p>
			<p>
				For Game <b>2</b>, you have (just like every game) two options:<br>
				Option <b>A</b>, which has a <i>30%</i> of you winning $40 and a <i>70%</i> of winning $10.<br> 
				Option <b>B</b>, which has a <i>10%</i> of you winning $75 and a <i>90%</i> of winning $5.
			</p>
			<p>
				The Game chooses a random number between 1 and 10 (including 1 and 10).
			</p>
			<p>
				If you had chosen Option A, then<br>
				If the randomly chosen number had been 1 to 3, you would have won $40<br>
				If the randomly chosen number had been 4 to 10, you would have won $10
			</p>
			<p>
				If you had chosen Option B, then<br>
				If the randomly chosen number had been 1, you would have won $75<br>
				If the randomly chosen number had been 2 to 10, you would have won $5
			</p>
			<p>
				<strong>In your game:</strong><br>
				PLAY PANEL 1 of 3 will have games 1 to 14.<br>
				PLAY PANEL 2 of 3 will have games 15 to 28.<br>
				PLAY PANEL 3 of 3 will have games 29 to 35.<br>
				For every <b>new</b> PLAY PANEL you're allowed to select Option A again, regardless of which game (and all the games below that) you selected as Option B in the previous PLAY PANEL.<br>
				The instructions will be below each PLAY PANEL for your convenience, in the case you need to read them again.<br>
				One final note, watch out, <b>you may lose money in this Virtual Lottery Game</b>.<br>
				<b><i>Good Luck!</i></b>
			</p>
		</div>
	</div>
    <div id="nxtBtn">
		{% next_button %}
	</div>

{% endblock %}

{% block scripts %}
<style type="text/css">
	#otree-title
	{
		display: none;
	}
	#pagehead
	{
		display:inline-block;
		float:left;
		width:100%;
		background:#27348b;
		margin:0 0 0 0;
		padding:0.75em;
		overflow:hidden;
		margin-bottom: 1em;
	}
	#pagehead img
	{
		height:3.8em;
	}
	#pagehead .title
	{
		display:inline-block;
		float:right;
		font-size:2em;
		color:#ffffff;
	}
	#instructions
	{
		margin-bottom: 1em;
		background: lightgrey;
		border: solid black 2px;
		margin-top: 4em;
		height: 500px;
		overflow: auto;
	}
	#instructText
	{
		font-size: 1.5em;
		margin-bottom: 1em;
		margin: 2% 5% 2% 5%;
	}
	#nxtBtn
	{
		float:right;
		margin-bottom: 100px;
	}
</style>
{% endblock %}