{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}


{% block title %}
    Virtual Lottery Game Panel: {{ subsession.round_number }} of {{ Constants.num_rounds }}
{% endblock %}


{% block content %}

	<div id="pagehead">
		<img src="{% static "Lottery/uwalogo.png" %}"/>
		<div class="title">Virtual Lottery Game Panel: {{ subsession.round_number }} of {{ Constants.num_rounds }}</div>
	</div>
	<div id="Instructions">
		<p>
			This is <b>PLAY PANEL {{ subsession.round_number }}</b> containing games <b>{{ start_game }} to {{end_game}}</b>.<br>
			You can now select Option A again, regardless of what you did in the Previous PLAY PANEL<br>
			Once you have selected Option B, you must select B for the rest of the PLAY PANEL.<br>
			The instructions on how to play the game are below the options for your convenience.<br>
			The Game Number is displayed on the left.<br>
			Each Option's Chance of Winning is displayed to the right of the Option.<br>
			The Chances apply to the entire column underneath it.
	</div>
	<div id="main">
		<div class="top">
			<div class="headings_row">
				<div class="number_col">Game</div>
				<div class="option_col">Option:</div>
				<div class="values_col">Chance:</div>
				<div class="values_col">Chance:</div>
				<div class="option_col">Option:</div>
				<div class="values_col">Chance:</div>
				<div class="values_col">Chance:</div>
			</div>
			<div class="headings_row">
				<div class="number_col">Number</div>
				<div class="option_col"> A </div>
				<div class="values_col"> {{ balls_a_r }} </div>
				<div class="values_col"> {{ balls_a_w }} </div>
				<div class="option_col"> B </div>
				<div class="values_col"> {{ balls_b_r }} </div>
				<div class="values_col"> {{ balls_b_w }} </div>
			</div>
		</div>
		{% for number in number_of_games %}
			<div class="game_row">
				<div class="number_col">
					{{ game_number|get_list_val:number }}
				</div>
				<div class="option_col">
		        	<input id="submitted_answer_{{ number }}" type="radio" name="submitted_answer_{{ number }}" value="A" required>
		        </div>
			 	<div class="values_col"> ${{ a_values_r|get_list_val:number }} </div>
				{% if subsession.round_number == 3 %}
					<div class="values_col"> -${{ a_values_w|get_list_val:number }} </div>
				{% else %}
					<div class="values_col"> ${{ a_values_w|get_list_val:number }} </div>
				{% endif %}
		        <div class="option_col">
		        	<input id="submitted_answer_{{ number }}" type="radio" name="submitted_answer_{{ number }}" value="B" required>
		        </div>
		        <div class="values_col"> ${{ b_values_r|get_list_val:number }} </div>
				{% if subsession.round_number == 3 %}
					<div class="values_col"> -${{ b_values_w|get_list_val:number }} </div>
				{% else %}
					<div class="values_col"> ${{ b_values_w|get_list_val:number }} </div>
				{% endif %}
	   		</div>
		{% endfor %}

		<div class="next_btn">{% next_button %}</div>
	</div>



	{% include Constants.lottery_instructions_template %}



{% endblock %}

{% block styles %}
    <style type="text/css">
	#otree-title
	{
		display: none;
	}
	#pagehead
	{
		display:inline-block;
		float:left;
		width:100%;
		background:#27348b;
		margin:0 0 0 0;
		padding:0.75em;
		overflow:hidden;
		margin-bottom: 1em;
	}
	#pagehead img
	{
		height:3.8em;
	}
	#pagehead .title
	{
		display:inline-block;
		float:right;
		font-size:2em;
		color:#ffffff;
	}


    #main
    {
    	display: inline-block;
    	float: left;
    	width: 100%;
    	margin-bottom: 5em;
    }
    #main .next_btn
    {
    	display: inline-block;
    	float: right;
    	margin: 2.5em 2.5em 1em 0
    }
    #main .top
    {
    	display: inline-block;
    	float: left;
    	width: 100%;
		padding-top: 1em;
    	padding-bottom: 1em;
    	margin-bottom: 1em;
    	border-bottom: 1px solid black;
		border-top: 1px solid black;
    }
    #main .game_row, #main .headings_row
    {
    	display: inline-block;
    	float: left;
    	width: 100%;
    }
    #main .game_row .number_col, #main .game_row .values_col, #main .game_row .option_col,
    #main .headings_row .number_col, #main .headings_row .values_col, #main .headings_row .option_col
    {
    	display: inline-block;
    	float: left;
    	text-align: center;
    	font-size:1.2em;
    	padding-bottom: 0.15em;
    }
    #main .game_row .number_col, #main .headings_row .number_col
    {
    	width: 20%;
    }
    #main .game_row .values_col, #main .headings_row .values_col
    {
    	width:9%;
    }
    #main .game_row .option_col, #main .headings_row .option_col
    {
    	width:20%;
    }
	#Instructions
	{
		font-size: 1.25em;
	}
    </style>
{% endblock %}

{% block scripts %}
    <script>
    jQuery(document).ready(function($)
    {
		 $('#form input').on('change', function()
		 {
		 	var stillA = true;
		 	for(var i = 1; i < 15; i++)
		 	{
		 		if(stillA)
		 		{
    				if($('#submitted_answer_'+i+':checked').val() == 'B')
    				{
    					stillA = false;
    				}
    			}
    			else
    			{
    				$('input[name="submitted_answer_' + i + '"][value="B"]').attr('checked',true);
    			}
			}
        });

    });
    </script>

{% endblock %}