{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}


{% block content %}
	<div id="pagehead">
		<img src="{% static "Biosecurity/uwalogo.png" %}"/>
		<div class="title">Approval based on Contribution Stage {{ subsession.round_number }} of {{ Constants.num_rounds }}</div>
	</div>
	<div id="roundText">
		<strong>Hello {{ player_name }}</strong> <br/>	
		<p>The Group Target was <b>{{ Group_Target_Prob }}%</b></p>
		Review the table Below and use the drop down box the right hand side of each row to decide<br>
		your Approval of each players Contribution from the 
		{% if contribution_looper == 1 %}
			last round.<br>
		{% else %}
			last {{ contribution_looper }} rounds.<br>
		{% endif %}
		You Approval of Each Player will be on a scale of -6 (Strongly Disapprove) to +6 (Strongly Approve)<br>
		From now on, when you decide your Protection against Biosecurity Threats you will see the Group's Approval<br>
		of yourself and other players. The closer the Group Approval is to +6, the more the Group Approves of that person.<br>
	</div>
	<br>
	<div id="results">
		<table border="5" cellspacing="5" cellpadding="5">
			{% if contribution_looper == 1 %}
				<caption>The Results from the Last Round</caption>
			{% else %}
				<caption>The Results from the last {{ contribution_looper }} rounds</caption>
			{% endif %}
			<th>Name</th>
			<th>Player's Pledge</th>
			{% for n in round_numbers %}
				<th>Round: {{ n }}</th>
			{% endfor %}
			<th>Approval of Player's Contribution</th>
			{% for name, id, pledge_result, results in list_for_table %}
				<tr>
					<td>{{ name }}</td>
					<td>${{ pledge_result }}</td>
					{% for result in results %}
						<td>${{ result }}</td>
					{% endfor %}
					<td>
						<div class="form-group required">
							<div class="controls  field-approval_{{id}}">
								<select name="approval_{{id}}" required id="id_approval_{{id}}}" class="form-control">
									<option value="-6">Strongly Disapprove (-6)</option>
									<option value="-5">-5</option>
									<option value="-4">-4</option>
									<option value="-3">Disapprove (-3)</option>
									<option value="-2">-2</option>
									<option value="-1">-1</option>
									<option value="0" selected="selected">Neutral (0)</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">Approve (3)</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">Strongly approve (6)</option>
								</select>	 
							</div>
						</div>
					</td>
				</tr>
			{% endfor %}
		</table>
		<br>
	</div>
	
	{% next_button %}
{% endblock %}

{% block styles %}
	<style type="text/css">
		#pagehead
		{
			display:inline-block;
			float:left;
			width:100%;
			background:#27348b;
			margin:0 0 0 0;
			padding:0.75em;
			overflow:hidden;
			margin-bottom: 2em;
		}
		#pagehead img
		{
			height:3.8em;
		}
		#pagehead .title
		{
			display:inline-block;
			float:right;
			font-size:2em;
			color:#ffffff;
		}
		#results
		{
			font-size: 1.5em;
			margin-bottom: 1em;
			text-align: center;
			display: inline-block;
			text-align: left;
		}
		#roundText
		{
			font-size: 1.25em;
			margin-bottom: 1em;
			display: block;
		}		
	</style>
{% endblock %}