{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block content %}
	<div id="pagehead">
		<img src="{% static "Biosecurity/uwalogo.png" %}"/>
		<div class="title">Group Pledging Stage {{ subsession.round_number }} of {{ Constants.num_rounds }}</div>
	</div>
	<p>
	<div id="roundText">
		<strong>{{ player_name }}</strong><br>
		Here, you will choose a target for the chance of <b>no</b> incursion for the group.<br>
		In the next stage, a Group Target will be calculated based off your target and the targets of your group members.<br>
		In the next stage, you will also decide your individual pledge in order to meet the Group Target.<br>
		</p>
		What chance of <b>not</b> having an incursion do you think the group needs?
		<br><br>
		<input id="numb" input type="range" name="groupTarget" min="{{ prob_coeff }}" max= "100" step="1.0" value="0" onchange="printProb()">
		<br>
		The chance of <b>not</b> having an incursion you have chosen:
		<p id="text_prob">%</p>
		<br></br>
	</div>
	{% next_button %}
	
{% endblock %}

{% block styles %}
<style type="text/css">
	#pagehead
	{
		display:inline-block;
		float:left;
		width:100%;
		background:#27348b;
		margin:0 0 0 0;
		padding:0.75em;
		overflow:hidden;
		margin-bottom: 2em;
	}
	#pagehead img
	{
		height:3.8em;
	}
	#pagehead .title
	{
		display:inline-block;
		float:right;
		font-size:2em;
		color:#ffffff;
	}
	#numb{
		width: 50%;
	}
	#roundText
	{
		font-size: 1.25em;
		margin-bottom: 1em;
		display: block;
	}	
	<!-- Slider Styling from: https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ --->
	input[type=range] {
	  -webkit-appearance: none;
	  margin: 18px 0;
	  width: 100%;
	}
	input[type=range]:focus {
	  outline: none;
	}
	input[type=range]::-webkit-slider-runnable-track {
	  width: 100%;
	  height: 8.4px;
	  cursor: pointer;
	  animate: 0.2s;
	  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	  background: #3071a9;
	  border-radius: 1.3px;
	  border: 0.2px solid #010101;
	}
	input[type=range]::-webkit-slider-thumb {
	  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	  border: 1px solid #000000;
	  height: 36px;
	  width: 16px;
	  border-radius: 3px;
	  background-color: white;
	  cursor: pointer;
	  -webkit-appearance: none;
	  margin-top: -14px;
	}
	input[type=range]:focus::-webkit-slider-runnable-track {
	  background: #367ebd;
	}
	input[type=range]::-moz-range-track {
	  width: 100%;
	  height: 8.4px;
	  cursor: pointer;
	  animate: 0.2s;
	  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	  background: #3071a9;
	  border-radius: 1.3px;
	  border: 0.2px solid #010101;
	}
	input[type=range]::-moz-range-thumb {
	  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	  border: 1px solid #000000;
	  height: 36px;
	  width: 16px;
	  border-radius: 3px;
	  background: #ffffff;
	  cursor: pointer;
	}
	input[type=range]::-ms-track {
	  width: 100%;
	  height: 8.4px;
	  cursor: pointer;
	  animate: 0.2s;
	  background: transparent;
	  border-color: transparent;
	  border-width: 16px 0;
	  color: transparent;
	}
	input[type=range]::-ms-fill-lower {
	  background: #2a6495;
	  border: 0.2px solid #010101;
	  border-radius: 2.6px;
	  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	}
	input[type=range]::-ms-fill-upper {
	  background: #3071a9;
	  border: 0.2px solid #010101;
	  border-radius: 2.6px;
	  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	}
	input[type=range]::-ms-thumb {
	  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	  border: 1px solid #000000;
	  height: 36px;
	  width: 16px;
	  border-radius: 3px;
	  background: #ffffff;
	  cursor: pointer;
	}
	input[type=range]:focus::-ms-fill-lower {
	  background: #3071a9;
	}
	input[type=range]:focus::-ms-fill-upper {
	  background: #367ebd;
	}
	<!-- Slider Styling from: https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ --->

	
</style>
{% endblock %}

{% block scripts %}

	<script>
	document.onload = setDefaultOutput({{prob_coeff}});
	function setDefaultOutput(prob_coeff) {
		document.getElementById("text_prob").innerHTML = prob_coeff + "%";
	}
	function printProb() {
		document.getElementById("text_prob").innerHTML = document.getElementById("numb").value + "%";
	}
	</script>

{% endblock %}