{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}


{% block title %}

{% endblock %}


{% block content %}
	<div id="pagehead">
		<img src="{% static "Biosecurity/uwalogo.png" %}"/>
		<div class="title">Individual Pledging Stage {{ subsession.round_number }} of {{ Constants.num_rounds }}</div>
	</div>
	<p>
	Everyone's ideal target for the chance of not having an incursion was calculated. <br>
	The target for the group as it stands is:<br>
	<strong>{{ Group_Target }}%</strong>
	</p>
	What will you pledge to do in order for the group as a whole to reach its target?
	<br><br>
	<input id="numb" input type="range" name="individualPledge" min="0" max= "{{ max_protection }}" step="0.01" value="0" onchange="printCosts({{cost_factor}})">
	<p>Amount of protection you are pledging to provide:</p>
	<p id="text_cost"></p>
	<p>In contrast to the target, if everybody did the same as you the chance of no incursion is:</p>
	<p id="text_prob"></p>
	{% next_button %}
{% endblock %}

{% block styles %}
<style type="text/css">
	#pagehead
	{
		display:inline-block;
		float:left;
		width:100%;
		background:#27348b;
		margin:0 0 0 0;
		padding:0.75em;
		overflow:hidden;
		margin-bottom: 2em;
	}
	#pagehead img
	{
		height:3.8em;
	}
	#pagehead .title
	{
		display:inline-block;
		float:right;
		font-size:2em;
		color:#ffffff;
	}
	#numb{
		width: 50%;
	}
	<!-- Slider Styling from: https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ --->
	input[type=range] {
	  -webkit-appearance: none;
	  margin: 18px 0;
	  width: 100%;
	}
	input[type=range]:focus {
	  outline: none;
	}
	input[type=range]::-webkit-slider-runnable-track {
	  width: 100%;
	  height: 8.4px;
	  cursor: pointer;
	  animate: 0.2s;
	  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	  background: #3071a9;
	  border-radius: 1.3px;
	  border: 0.2px solid #010101;
	}
	input[type=range]::-webkit-slider-thumb {
	  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	  border: 1px solid #000000;
	  height: 36px;
	  width: 16px;
	  border-radius: 3px;
	  background-color: white;
	  cursor: pointer;
	  -webkit-appearance: none;
	  margin-top: -14px;
	}
	input[type=range]:focus::-webkit-slider-runnable-track {
	  background: #367ebd;
	}
	input[type=range]::-moz-range-track {
	  width: 100%;
	  height: 8.4px;
	  cursor: pointer;
	  animate: 0.2s;
	  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	  background: #3071a9;
	  border-radius: 1.3px;
	  border: 0.2px solid #010101;
	}
	input[type=range]::-moz-range-thumb {
	  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	  border: 1px solid #000000;
	  height: 36px;
	  width: 16px;
	  border-radius: 3px;
	  background: #ffffff;
	  cursor: pointer;
	}
	input[type=range]::-ms-track {
	  width: 100%;
	  height: 8.4px;
	  cursor: pointer;
	  animate: 0.2s;
	  background: transparent;
	  border-color: transparent;
	  border-width: 16px 0;
	  color: transparent;
	}
	input[type=range]::-ms-fill-lower {
	  background: #2a6495;
	  border: 0.2px solid #010101;
	  border-radius: 2.6px;
	  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	}
	input[type=range]::-ms-fill-upper {
	  background: #3071a9;
	  border: 0.2px solid #010101;
	  border-radius: 2.6px;
	  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	}
	input[type=range]::-ms-thumb {
	  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	  border: 1px solid #000000;
	  height: 36px;
	  width: 16px;
	  border-radius: 3px;
	  background: #ffffff;
	  cursor: pointer;
	}
	input[type=range]:focus::-ms-fill-lower {
	  background: #3071a9;
	}
	input[type=range]:focus::-ms-fill-upper {
	  background: #367ebd;
	}
	<!-- Slider Styling from: https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ --->
</style>
{% endblock %}


{% block scripts %}

    <!-- Calc Script -->

    
<script>

/* Generate the initial values for the cost and probabillity outputs
** The initial cost value is set as half maximum protection
** The initial probabillity value is derived from this cost value 
*/
document.onload = setDefaultProb({{max_protection}}, {{cost_factor}});
function setDefaultProb(maxProtection, costFactor) {
	//calcuate cost
	//text_cost = maxProtection/2;
	text_cost = 0;
	//calculate the percentage protection provided (1 - the chance of an outbreak)
	//text_prob = Math.round((1-Math.exp(-(text_cost)/costFactor))*100);
	text_prob = 0;
	//set values in HTML
	document.getElementById("text_cost").innerHTML = "$"+text_cost;
	document.getElementById("text_prob").innerHTML = text_prob+ "%";
}

/* Generate values for the cost and probabillity outputs after the slider input has been changed by the user
** The cost value is the value the user has selected on the slider
** The probabillity value is calculated using the cost value and is define as follows: 1-e^(-cost/cost_factor)
*/

function printCosts(costFactor) {
    var x, text1, text2;

    // Get the value of the input field with id="numb"
    x = document.getElementById("numb").value;
    text_cost = x;
    x = Math.round((1-Math.exp(-(text_cost)/costFactor))*100);
    text_prob = x;
    // Set values in HTML
    document.getElementById("text_cost").innerHTML = "$"+text_cost;
    document.getElementById("text_prob").innerHTML = text_prob + "%";
}
</script>
{% endblock %}