{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}


{% block content %}
	<div id="pagehead">
		<img src="{% static "Biosecurity/uwalogo.png" %}"/>
		<div class="title">Approval based on Pledges Stage {{ subsession.round_number }} of {{ Constants.num_rounds }}</div>
	</div>
	<div id="roundText">
		<p><strong>Hello {{ player_name }}</strong></p>
		<p>The Group Target is <b>{{ Group_Target_Prob }}%</b></p>
		<p>
		Review the table Below and use the drop down box the right hand side of each row to decide
		your Approval of each players Individual Pledge for the next {{ pledge_looper }} rounds.<br>
		</p>
		<p>You Approval of Each Player will be on a scale of -6 (Strongly Disapprove) to +6 (Strongly Approve)</p>
		<p>
		In the next stage (and in the next {{ pledge_looper }} rounds) when you decide your Protection against 
		Biosecurity Threats you will see the Group's Approval of yourself and other players. 
		The closer the Group Approval is to +6, the more the Group Approves of that person.
		</p>
		<br>
		<p>
		<table border="5" cellspacing="5" cellpadding="5">
			<caption>Each Player's Pledge and Approval Selection</caption>
			<th>Name</th>
			<th>Individual Pledge</th>
			<th>Approval of Player's Pledge</th>
			{% for id, name, result in list %}
				<tr>
					<td>{{ name }}</td>
					<td>${{ result }}</td>
					<td>
						<div class="form-group required">
							<div class="controls  field-approval_{{id}}">
								<select name="approval_{{id}}" required id="id_approval_{{id}}}" class="form-control">
									<option value="-6">Strongly Disapprove (-6)</option>
									<option value="-5">-5</option>
									<option value="-4">-4</option>
									<option value="-3">Disapprove (-3)</option>
									<option value="-2">-2</option>
									<option value="-1">-1</option>
									<option value="0" selected="selected">Neutral (0)</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">Approve (3)</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">Strongly approve (6)</option>
								</select>    
							</div>
						</div>
					</td>
				</tr>
			{% endfor %}
		</table>
		</p>
	</div>
	{% next_button %}
{% endblock %}

{% block styles %}
<style type="text/css">
	#pagehead
	{
		display:inline-block;
		float:left;
		width:100%;
		background:#27348b;
		margin:0 0 0 0;
		padding:0.75em;
		overflow:hidden;
		margin-bottom: 2em;
	}
	#pagehead img
	{
		height:3.8em;
	}
	#pagehead .title
	{
		display:inline-block;
		float:right;
		font-size:2em;
		color:#ffffff;
	}
	#roundText
	{
		font-size: 1.25em;
		margin-bottom: 1em;
		display: block;
	}
</style>
{% endblock %}