{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}

{% endblock %}


{% block content %}
	<div id="pagehead">
		<img src="{% static "Biosecurity/uwalogo.png" %}"/>
		<div class="title">Approval based on Pledges Stage {{ subsession.round_number }} of {{ Constants.num_rounds }}</div>
	</div>
	This is the Social Approval based on pledges stage, here you will rate your apporval of everyone's pledge to meet the group target.</br>
	This pledge will be on a scale of Strongly Dissaprove (-6) to Strongly Approve (6), on a scale of -6 to 6 respectively. The average</br>
	approval given by all participants of yourself and others will be shown on the next page where you will decide how much you actually</br>
	you will spend towards the prevention of incursion by Biosecurity Threats.</br>
	<br>
	<p>The Group Target is <b>{{ Group_Target }}%</b></p>
	<p>What you everyone pledged to do in order to meet the group target:</p>
	{% for p in pledge_results %}
		<strong>{{ p }} </strong></br>
	{% endfor %}
	{% for id, name in list %}
		<strong>Your approval of {{name}} based on their pledge:</strong>
		<div class="form-group required">
			<div class="controls  field-approval_{{id}}">
				<select name="approval_{{id}}" required id="id_approval_{{id}}}" class="form-control">
					<option value="-6">Strongly Disapprove (-6)</option>
					<option value="-5">-5</option>
					<option value="-4">-4</option>
					<option value="-3">Disapprove (-3)</option>
					<option value="-2">-2</option>
					<option value="-1">-1</option>
					<option value="0" selected="selected">Neutral (0)</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">Approve (3)</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">Strongly approve (6)</option>
				</select>    
			</div>
		</div>
	{% endfor %}
	{% next_button %}
{% endblock %}

{% block styles %}
<style type="text/css">
	#pagehead
	{
		display:inline-block;
		float:left;
		width:100%;
		background:#27348b;
		margin:0 0 0 0;
		padding:0.75em;
		overflow:hidden;
		margin-bottom: 2em;
	}
	#pagehead img
	{
		height:3.8em;
	}
	#pagehead .title
	{
		display:inline-block;
		float:right;
		font-size:2em;
		color:#ffffff;
	}
	
</style>
{% endblock %}