{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}Protection Decision Stage: {{ subsession.round_number }} of {{ Constants.num_rounds }}{% endblock %}

{% block content %}
	<div id="pagehead">
		<img src="{% static "Biosecurity/uwalogo.png" %}"/>
		<div class="title">Protection Decision Stage: {{ subsession.round_number }} of {{ Constants.num_rounds }}</div>
	</div>
	
	<div class="farm_pic"><img src="{% static "Biosecurity/farm_back.png" %}"/></div>
	
	<br></br>
	<div id="roundText">
		<p><strong>{{ player_name }}</strong></p>
		{% if pledge %}
			<p>Rounds till the next pledge: <b>{{ next_pledge }}</b></p>
			{% if Capproval and not cont_TF %}
				<p>Rounds Till the next Approval by Contribution: {{ next_cont }}</p>
			{% endif %}
			{% if Capproval and cont_TF %}
				<p>You will do an Approval based on each person's Contribution this round.</p>
			{% endif %}
			<p>The Group Target is <b>{{ Group_Target_Prob }}%</b></p>
			<p>
			<table border="5" cellpadding="5" cellspacing="5">
				<caption>Each Player's Pledges</caption>
				<tr>
					<th>Name</th>
					<th>Individual Pledge</th>
					{% if Papproval %}
						<th>Group's Approval of Individual Pledge</th>
					{% endif %}
					{% if Capproval and abovec %}
						<th>Group's Approval of Contribution</th>
					{% endif %}
				</tr>
				{% for name, pledge, average in list %}
					<tr>
						<td>{{ name }}</td>
						<td>${{ pledge }}</td>
						{% if Papproval %}
							<td>{{ average }}</td>
						{% endif %}
						{% if Capproval and abovec %}
							<td>{{ average }}</td>
						{% endif %}
					</tr>
				{% endfor %}
			</table>
			</p>
		{% endif %}
		<p>
		Your current funds are: ${{ funds }} </br>
		Revenue from crop: ${{ revenue }} <br>
		Cost of production: ${{ upkeep }} <br>
		</p>
		<p>
		How much effort do you want to invest in protecting your crops?
		</p>
	
		<div id="Calculator">
			
			<p>Please adjust the slider to indicate the amount of money you want to spend on protection:</p>
		
			<!--Slider with a range from 0 to a value set by an admin (max_protection). When the value is altered by the player, the cost and probabillity values are recalculated and displayed-->
			<input id="numb" input type="range" name="cost" min="0" max= "{{max_protection}}" step="0.01" value="0" onchange="printCosts({{cost_factor}},{{prob_coeff}})">
			<br></br>
			<p>Cost of Protection:</p>
			<p id="text_cost"></p>
			{% if calc %}
				<p>Probablity that you are <b>not</b> the source of the incursion:</p>
				<p id="text_prob"></p>
			{% endif %}
		</div>
	</div>
	{% next_button %}
{% endblock %}

{% block styles %}
<style type="text/css">
	#otree-title
	{
		display: none;
	}
	.farm_pic
	{
		display:inline-block;
		float:right;
		z-index: -1;
		margin-right: 5%;
		margin-left: 5%;
		margin-bottom: 2em;
	}
	
	#pagehead
	{
		display:inline-block;
		float:left;
		width:100%;
		background:#27348b;
		margin:0 0 0 0;
		padding:0.75em;
		overflow:hidden;
		margin-bottom: 2em;
	}
	#pagehead img
	{
		height:3.8em;
	}
	#pagehead .title
	{
		display:inline-block;
		float:right;
		font-size:2em;
		color:#ffffff;
	}
	#roundText
	{
		font-size: 1.25em;
		margin-bottom: 1em;
		display: block;
	}
	#numb{
		width: 50%;
	}
	<!-- Slider Styling from: https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ --->
	input[type=range] {
	  -webkit-appearance: none;
	  margin: 18px 0;
	  width: 100%;
	}
	input[type=range]:focus {
	  outline: none;
	}
	input[type=range]::-webkit-slider-runnable-track {
	  width: 100%;
	  height: 8.4px;
	  cursor: pointer;
	  animate: 0.2s;
	  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	  background: #3071a9;
	  border-radius: 1.3px;
	  border: 0.2px solid #010101;
	}
	input[type=range]::-webkit-slider-thumb {
	  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	  border: 1px solid #000000;
	  height: 36px;
	  width: 16px;
	  border-radius: 3px;
	  background-color: white;
	  cursor: pointer;
	  -webkit-appearance: none;
	  margin-top: -14px;
	}
	input[type=range]:focus::-webkit-slider-runnable-track {
	  background: #367ebd;
	}
	input[type=range]::-moz-range-track {
	  width: 100%;
	  height: 8.4px;
	  cursor: pointer;
	  animate: 0.2s;
	  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	  background: #3071a9;
	  border-radius: 1.3px;
	  border: 0.2px solid #010101;
	}
	input[type=range]::-moz-range-thumb {
	  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	  border: 1px solid #000000;
	  height: 36px;
	  width: 16px;
	  border-radius: 3px;
	  background: #ffffff;
	  cursor: pointer;
	}
	input[type=range]::-ms-track {
	  width: 100%;
	  height: 8.4px;
	  cursor: pointer;
	  animate: 0.2s;
	  background: transparent;
	  border-color: transparent;
	  border-width: 16px 0;
	  color: transparent;
	}
	input[type=range]::-ms-fill-lower {
	  background: #2a6495;
	  border: 0.2px solid #010101;
	  border-radius: 2.6px;
	  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	}
	input[type=range]::-ms-fill-upper {
	  background: #3071a9;
	  border: 0.2px solid #010101;
	  border-radius: 2.6px;
	  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	}
	input[type=range]::-ms-thumb {
	  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	  border: 1px solid #000000;
	  height: 36px;
	  width: 16px;
	  border-radius: 3px;
	  background: #ffffff;
	  cursor: pointer;
	}
	input[type=range]:focus::-ms-fill-lower {
	  background: #3071a9;
	}
	input[type=range]:focus::-ms-fill-upper {
	  background: #367ebd;
	}
	<!-- Slider Styling from: https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ --->
</style>

{% endblock %}

{% block scripts %}

    <!-- Calc Script -->

    
<script>

/* Generate the initial values for the cost and probabillity outputs
** The initial cost value is set as half maximum protection
** The initial probabillity value is derived from this cost value 
*/
document.onload = setDefaultProb({{max_protection}}, {{cost_factor}}, {{prob_coeff}});
function setDefaultProb(maxProtection, costFactor, prob_coeff) {
	text_cost = 0;
	text_prob = prob_coeff * 100;
	//set values in HTML
	document.getElementById("text_cost").innerHTML = "$"+text_cost;
	document.getElementById("text_prob").innerHTML = text_prob+ "%";
}

/* Generate values for the cost and probabillity outputs after the slider input has been changed by the user
** The cost value is the value the user has selected on the slider
** The probabillity value is calculated using the cost value and is define as follows: 1-e^(-cost/cost_factor)
*/

function printCosts(costFactor, prob_coeff) {
    var x, text1, text2;

    // Get the value of the input field with id="numb"
    x = document.getElementById("numb").value;
    text_cost = x;
    x = (1+prob_coeff-Math.exp(-(text_cost)/costFactor))*100;
	if (x > 99.95) {
		x = 99.95;
	}
	x = +x.toFixed(2)
    text_prob = x;
    // Set values in HTML
    document.getElementById("text_cost").innerHTML = "$"+text_cost;
    document.getElementById("text_prob").innerHTML = text_prob + "%";
}
</script>
{% endblock %}