{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}Approval based on Contribution Stage: {{ subsession.round_number }} of {{ Constants.num_rounds }}{% endblock %}

{% block content %}
	<div id="pagehead">
		<img src="{% static "Biosecurity/uwalogo.png" %}"/>
		<div class="title">Approval based on Contribution Stage: {{ subsession.round_number }} of {{ Constants.num_rounds }}</div>
	</div>
	<div id="roundText">
		<strong>{{ player_name }}</strong><br>
		Please review your and your co-players contributions over the last {{ contribution_looper }} rounds shown in the table below,
		and assign to each an approval rating using the drop down menu in the final column.<br> 
		Your approval rating can take on any value between -6 (<i>Strongly Disapprove</i>) and +6 (<i>Strongly Approve</i>).<br>
		The ratings provided by everyone will be combined to provide an overall approval rating for each individual player.<br> 
		These approval ratings will be communicated to everyone after this stage and again when each player makes their 
		biosecurity protection decision over the next {{ contribution_looper }} rounds.
	</div>
	<br>
	<div id="results">
		<table border="5" cellspacing="5" cellpadding="5">
			{% if contribution_looper == 1 %}
				<caption>The Results from the Last Round</caption>
			{% else %}
				<caption>Group's Pledges and Contributions from the last {{ contribution_looper }} Rounds</caption>
			{% endif %}
			<th>Name</th>
			<th>Player's Pledge</th>
			{% for n in round_numbers %}
				<th>Round: {{ n }}</th>
			{% endfor %}
			<th>Approval of Player's Contribution</th>
			{% for name, id, pledge_result, results, name_true in list_for_table %}
				<tr>
					{% if name_true %}
						<td style="color:blue">{{ name }}</td>
					{% else %}
						<td>{{ name }}</td>
					{% endif %}
					<td>${{ pledge_result }}</td>
					{% for result in results %}
						<td>${{ result }}</td>
					{% endfor %}
					<td>
						<div class="form-group required">
							<div class="controls  field-approval_{{id}}">
								<select name="approval_{{id}}" required id="id_approval_{{id}}}" class="form-control">
									<option value="-6">Strongly Disapprove (-6)</option>
									<option value="-5">-5</option>
									<option value="-4">-4</option>
									<option value="-3">Disapprove (-3)</option>
									<option value="-2">-2</option>
									<option value="-1">-1</option>
									<option value="0" selected="selected">Neutral (0)</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">Approve (3)</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">Strongly approve (6)</option>
								</select>	 
							</div>
						</div>
					</td>
				</tr>
			{% endfor %}
		</table>
		<br>
	</div>
	
	{% next_button %}
{% endblock %}

{% block styles %}
	<style type="text/css">
		.otree-title
		{
			display: none;
		}
		#pagehead
		{
			display:inline-block;
			float:left;
			width:100%;
			background:#27348b;
			margin:0 0 0 0;
			padding:0.75em;
			overflow:hidden;
			margin-bottom: 2em;
		}
		#pagehead img
		{
			height:3.8em;
		}
		#pagehead .title
		{
			display:inline-block;
			float:right;
			font-size:2em;
			color:#ffffff;
		}
		#results
		{
			font-size: 1.5em;
			margin-bottom: 1em;
			text-align: center;
			display: inline-block;
			text-align: left;
		}
		#roundText
		{
			font-size: 1.25em;
			margin-bottom: 1em;
			display: block;
		}		
	</style>
{% endblock %}